*{
margin:0px;
padding:0px;
font-family:Andale Mono, monospace;
font-size:15px;
}

body{
background-color:black;
padding:2px;
color:green;
}

input{
background:black;
color:green;
border:none;
width:70%;
border-radius:5px;
}
input:focus{
border:none;
outline-style: none;
}

.phpOS{
color:#00FF00;
}
